# Frontend
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.production

# Backend
backend/target/
backend/.settings/
backend/.classpath
backend/.project
Backend/src/main/resources/application.properties

# OS
.DS_Store
Thumbs.db
